@mixin gap-border {

    .border {
        border: 1px solid $line-light-color;
    }

    .border-t {
        border-top: 1px solid $line-light-color;
    }

    .border-r {
        border-right: 1px solid $line-light-color;
    }

    .border-b {
        border-bottom: 1px solid $line-light-color;
    }

    .border-t-dark {
        border-top: 1px solid $line-dark-color;
    }

    .border-b-dark {
        border-bottom: 1px solid $line-dark-color;
    }

    .border-b-dash {
        border-bottom: 1px dashed $line-dark-color;
    }

    .border-l {
        border-left: 1px solid $line-light-color;
    }

    .border-l-dark {
        border-left: 1px solid $line-dark-color;
    }

    .no-border {
        border: 0 !important;
    }

    .box-shadow {
        box-shadow: 0 1px 4px 0 $line-light-color;
    }
}

