$form-padding: 15px !default;
$form-footer-bg: #f9fbfc !default;

@mixin gap-form {

    @include foundation-forms;

    form {
        .form-title {
            padding: $form-padding;
            margin: $zero;
        }

        .form-content {
            padding: $form-padding;
        }

        .form-footer {
            background: $form-footer-bg;
            padding: $form-padding;
        }
    }
}
