$title-default-margin: 0 0 .7rem;
$title-color: #333 !default;

@mixin gap-title {

    .title {
        color: $title-color;
        line-height: 1.5;
        margin: $title-default-margin;

        &.xlarge {
            font-size: map-get($title-size, xlarge);
            font-weight: bold;
            line-height: 2.8;
        }

        &.large {
            font-size: map-get($title-size, large);
            font-weight: bold;
        }

        &.normal,
        &.medium {
            font-size: map-get($title-size, normal);
            font-weight: bold;
        }

        &.small {
            font-size: map-get($title-size, small);
        }

        &.tiny {
            font-size: map-get($title-size, tiny);
        }

        .icon {
            font-weight: normal;
        }
    }
}
