.*.swp
.DS_Store
.DS_Store?
._*

.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dump.rdb

# Webstorm config files
.idea/*
**/.idea/*

.phpcomplete_extended/
node_modules/

**/*.map

**/*.lock
**/*.bak

tags
npm-debug.log
Session.vim

**/*.local.js
**/*.local.php

code/site/dbv/data/meta/revision

.vscode
