$uploadImgWidth: 80px;
$uploadImgHeight: 80px;

.img-item {
    height: $uploadImgHeight;
    width: $uploadImgWidth;
    outline: none;
    position: relative;
}

.img-item img {
    height: $uploadImgHeight;
    width: $uploadImgWidth;
}

.btn-img {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    background: rgba(0,0,0,.3);
    text-align: center;
    line-height: $uploadImgHeight - 50px;
    color: #fff;
    display: none;
    z-index: 1;
}

.img-item:hover .btn-img {
     display: block;
}