//$zmde-padding: 15px;
//$zmde-footer-shadow: 0 1px 8px rgba(0, 0, 0, .3);
//$zmde-footer-bg: rgba(255, 255, 255, .7);
$zmde-cell-margin: 0;
$zmde-cell-padding: 0;

@mixin gap-zmde {
    .zmde {
        height: 100%;
        position: relative;

        .cell {
            height: 100%;
            margin: $zmde-cell-margin;
            overflow: auto;
            padding: $zmde-cell-padding;
            padding-bottom: 100px;
        }
        //.zmde-body {
        //    background: $white;

        //}

        //.zmde-footer {
        //    background: $zmde-footer-bg;
        //    bottom: 0;
        //    box-shadow: $zmde-footer-shadow;
        //    left: 0;
        //    padding: $zmde-padding;
        //    position: absolute;
        //    width: 100%;
        //    z-index: 100;
        //}
    }
}
