$btn-primary-bg: $p-color !default;
$btn-primary-color: #f8f8f8 !default;
$btn-submit-bg: #4f90d4 !default;
$btn-submit-color: #f8f8f8 !default;
$btn-cancel-bg: #dee9ef !default;
$btn-cancel-color: #97aabf !default;

@mixin gap-button {

    @include foundation-button;

    .btn {
        color: $white;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 2px;
        display: inline-block;
        font-size: 0.9rem;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 20px;
        text-align: center;
        vertical-align: middle;
        outline: none;

        &.expanded {
            width: 100%;
        }

        &.primary {
            background: $btn-primary-bg;
            color: $btn-primary-color;
        }

        &.submit {
            color: $btn-submit-color;
            background: $btn-submit-bg;
            margin-right: 10px;
        }

        &.cancel {
            color: $btn-cancel-color;
            background: $btn-cancel-bg;
        }

        &.hollow {
            background: $white;

            &.primary {
                border: 1px solid $btn-primary-bg;
                color: $btn-primary-bg;
            }
        }
    }

    .btn-upload {
        color: $btn-primary-bg;
        cursor: pointer;
        background: #fbfbfb;
        border: 1px dashed #d9d9d9;
        border-radius: 5px;
        display: inline-block;
        font-size: 35px;
        width: 78px;
        height: 78px;
        line-height: 78px;
        text-align: center;
        vertical-align: middle;
        outline: none;
        box-sizing: content-box;
    }
}

