$cheader-height: 2rem;
$cheader-margin: 0 .5rem .5rem 0;
$card-title-bg: #eee !default;

@mixin gap-card {

    @include foundation-card;

    .cheader {
        line-height: $cheader-height;

        .title {
            line-height: $cheader-height;
            margin: $cheader-margin;
        }

        .logo {
            background: $light-gray;
            border-radius: $cheader-height / 2;
            height: $cheader-height;
            margin: $cheader-margin;
            text-align: center;
            width: $cheader-height;
        }

        .text {
            font-size: $small-font-size;
        }
    }

    .cdesc {
        //border-bottom: 1px dashed $light-gray;
        //margin-bottom: .5rem;
        padding-bottom: .5rem;
    }

    .ctime {
        color: $dark-gray;
        font-size: $tiny-font-size;
        line-height: 2rem;
    }

    .card {
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px 0 $light-gray-color;
        overflow: inherit;

        .card-divider {
            background: $white;
            border-bottom: 1px solid $light-gray;
        }

        .meta {
            font-size: $small-font-size;

            //.key {
            //    color: $primary-color;
            //}

            .item {
                margin-bottom: .3rem;
            }
        }

        .card-title {
            padding: 15px;
            margin: $zero;
            background: $card-title-bg;
        }

        .card-item {
            margin-bottom: 10px;
            text-align: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
