$input-default-border: #dee9ef !default;
$input-focus-border: $p-color !default;

@mixin gap-input {

    .input-group {
        > .input-group-field {
            border: 1px solid $input-default-border;
            border-right: 0;

            &:focus {
                border: 1px solid $input-focus-border;
            }
        }

        > .input-group-button {
            .button {
                background: $white;
                border: 1px solid $input-default-border;
                border-left: 0;
            }
        }
    }
}