$margin-normal: .5rem;
$padding-normal: .5rem;
$margin-bottom-normal: .5rem;
$padding-bottom-normal: .5rem;

$margin-bottom-closely: .2rem;
$padding-bottom-closely: .2rem;

$margin-bottom-scattered: 1rem;
$padding-bottom-scattered: 1rem;

$list-striped-background: #f1f1f1 !default;
$list-hovered-background: #eef3f6 !default;

@mixin gap-list {

    .list {
        > .item {
            border-bottom: 1px solid $light-gray;
            margin-bottom: $margin-bottom-normal;
            padding-bottom: $padding-bottom-normal;

            & .title {
                margin-bottom: 0;
            }

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }

        &.striped {
            > .item {
                border-bottom: 0;
                margin-bottom: 0;
                padding: 1rem;

                &:nth-child(even) {
                    background: $list-striped-background;
                }
            }
        }

        &.closely {
            > .item {
                margin-bottom: $margin-bottom-closely;
                padding-bottom: $padding-bottom-closely;
            }
        }

        &.scattered {
            > .item {
                margin-bottom: $margin-bottom-scattered;
            }
        }

        &.dashed {
            > .item {
                border-bottom-style: dashed;
            }
        }

        &.hovered {
            > .item {
                border-bottom: 0;
                padding: 0;

                &:hover {
                    background: $list-hovered-background;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .first-list {
        margin: $zero;
        position: relative;
        left: 1px;

        .item {
            cursor: pointer;
            padding: $padding-normal;
        }

        .first-item {

            .second-list {
                background: $white;
                border: 1px solid $medium-gray;
                border-left: $zero;
                display: none;
                height: 100%;
                left: 179px;
                margin: $zero;
                position: absolute;
                top: 0;
                min-width: 200px;
                overflow-y: auto;

                .second-item {
                    font-weight: normal;

                    &:hover {
                        background: $list-hovered-background;
                    }
                }
            }

            &:hover {
                border: 1px solid $medium-gray;
                border-right: 1px solid $white;
                font-weight: bold;

                .second-list {
                    display: block;
                }
            }
        }
    }

}
