$meta-padding-top: 10px !default;

@mixin gap-meta {

    .meta {
        @include clearfix;

        > .item {
            float: left;
            font-size: $small-font-size;
            margin-right: 2rem;

            > .val {
                font-weight: bold;
            }
        }
    }

    .meta-item {
        padding-top: $meta-padding-top;

        &.closely {
            padding-top: $meta-padding-top - 5px;
        }

        &:first-child {
            padding: $zero;
        }

        .key {
            display: inline-block;
            min-width: 120px;
            vertical-align: top;
            width: 10%;
        }

        .value {
            display: inline-block;
            position: relative;
            vertical-align: top;
            width: 80%;
        }
    }
}
