@mixin gap-popup {
    .popup {
        position: relative;

        &:hover {
            .popup-content {
                display: block;
            }
        }

        .popup-content {
            background: $white;
            border-radius: 4px;
            box-shadow: 0 0px 4px 0 #93939C;
            display: none;
            padding: 10px;
            position: absolute;
            top: 50px;
            width: 160px;
            z-index: 10;

            > li {
                padding-bottom: 10px;

                &:last-child {
                    padding: $zero;
                }
            }

            &:before {
                content: '';
                background: $white;
                top: -5px;
                box-shadow: -1px -1px 1px 0 #93939C;
                height: 10px;
                position: absolute;
                transform: rotate(45deg);
                width: 10px;
                z-index: 11;
            }

            &.left {
                left: 0;

                &:before {
                    left: 12px;
                }
            }

            &.center {
                left: 50%;
                margin-left: -80px;

                &:before {
                    left: 50%;
                    margin-left: -5px;
                }
            }

            &.right {
                right: 0;

                &:before {
                    right: 12px;
                }
            }
        }
    }
}
